<div class="card" >
  <img class="card-img-top" [src]="character.image" [alt]="character.name">
  <div class="card-body">
    <div class="card-title">
      <h6>{{ character.name }}</h6>
      <span style="font-size: smaller;">id: {{ character.id }} - created {{ character.created | transformDate }} years ago</span>
    </div>
    <div class="card-field-block">
      <span class="card-field-key">STATUS</span>
      <span class="card-field-value">{{ character.status }}</span>
    </div>
    <div class="card-field-block">
      <span class="card-field-key">SPECIES</span>
      <span class="card-field-value">{{ character.species }}</span>
    </div>
    <div class="card-field-block">
      <span class="card-field-key">GENDER</span>
      <span class="card-field-value">{{ character.gender }}</span>
    </div>
    <div class="card-field-block">
      <span class="card-field-key">ORIGIN</span>
      <span class="card-field-value">{{ character.origin.name }}</span>
    </div>
    <div class="card-field-block">
      <span class="card-field-key">LAST LOCATION</span>
      <span class="card-field-value">{{ character.location.name }}</span>
    </div>
  </div>
</div>