.character-list-container {
    background-color: #1f232a;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character-list-container > div {
    text-align: center;
    margin: 5px;
}

/* @media (min-width: 768px) {
    .character-list-container > div {
        flex-basis: 20%;
    }
}

@media (max-width: 768px) {
    .character-list-container > div {
        flex-basis: 40%;
    }
} */

@media only screen and (max-width: 576px) {
    .rick-morty-page {
        display: block;
    }
    .rick-morty-content > div:first-child {
        margin: 0;
    }
    .sort-block {
        display: flex;
        margin-bottom: 3%;
    }
    app-sort {
        flex: 1;
        text-align: right;
    }
    .character-list-container > div {
        flex: 0 42%;
    }
}

@media only screen and (min-width: 576px) {
    .rick-morty-page {
        display: flex;
    }
    .rick-morty-filter {
        flex: 1;
    }
    .rick-morty-content {
        flex: 2;
    }
    .sort-block {
        display: flex;
        align-items: center;
    }
    app-sort {
        flex: 1;
        text-align: right;
    }
    .character-list-container > div {
        flex: 0 20%;
    }
}

@media only screen and (min-width: 992px) {
    .rick-morty-page {
        display: flex;
    }
    .rick-morty-filter {
        flex: 1;
    }
    .rick-morty-content {
        flex: 4;
    }
}

.rick-morty-content {
    padding: 0.5%;
}